:root{
  --rojo: #F01612;
  --amarillo: #F0E129;
  --rosa: #EB9DCC;
  --verde: #3CF0B5;
  --azul:#23ECF0;
  --fsizeContenido: 22px;
  --fsizesubtitulos:26px;
}

body{
  background-color: var(--rojo);
}
.container {
  max-width: 400px;
  margin: 8.5% 35%;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-left: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-group {
  margin-bottom: 25px;
}

label, input[type="text"], input[type="password"], input[type="submit"] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  width: 90%;
}

input[type="text"], input[type="password"] {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid var(--rosa)
}

input[type="submit"] {
  width: 40%;
  margin-left: 30%;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  animation-delay: var(--amarillo);
}

#mensajeRegistro{
  margin-left: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}