body {
    text-align: center;
    margin: 40px;
    background-color: #fff;
    background-image: url('../img/fondo3.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: fff;
}

h1 {
    font-family: Arial, Helvetica, sans-serifs;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

h1:hover {
    transform: scale(1.1);
}

.imgLecc {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.imgLecc:hover {
    transform: scale(1.1);
}

.act {
    margin-top: -21%;
    margin-left: 34%;
}

#shapes {
    margin-top: 1%;
    margin-left: 12%;
    margin-bottom: -14.56%;
}

#dropzone {
    margin-left: 40%;
}

#dropzone.hover {
    border-color: #333;
}

.shape {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer; 
    margin-left: 5%;  
}

.shape:hover {
    transform: scale(1.1);
}

.number {
    display: none;
}

.shape:hover .number {
    display: inline-block; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: var(--verdeazulado);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 26px;
    font-weight: bold;
}

#incorrecto {
    background-size: 160%;
    background-position: center;
    border-radius: 50%;
    border: 2px solid black;
}

#correcto {
    background-size: 160%;
    background-position: center;
    border-radius: 50%;
    border: 2px solid black;
}

.encajar {
    margin: 0;
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulos {
    margin: 2%;
    margin-top: 12%;
    margin-left: -40%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.inst {
    width: 50%;
    height: auto;
    background-color: var(--verdeazulado);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-right: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; /* Tamaño de fuente más grande */
}

.botones-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.boton-salir,
.boton-siguiente {
    background-color: #aa8976; 
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--verde);
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.boton:hover {
    background-color: #45a049;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 3px;
    width: 40%;
    height: 40%;
    margin-top: 10%;
    margin-left: 30%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px; /* Añadir bordes redondeados */
}

.modal-content {
    background-color: #F0E2D0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #F0E2D0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* Añadir bordes redondeados */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #F0E2D0;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
