:root{
  --amarillo: #F0E129;
  --cafe: #AA8976;
  --beige: #F0E2D0;
  --verde: #70AF85;
  --verdeazulado: #C6EBC9;
  --fsizeContenido: 22px;
  --fsizesubtitulos:26px;
  
}

body{
  margin:0;
  padding:0;
  background-color: var(--rojo);
}
.container {
  max-width: 400px;
  margin: 8.5% 35%;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-left: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.form-group {
  margin-bottom: 25px;
}

label, input[type="text"], input[type="password"], input[type="submit"] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  width: 90%;
}

input[type="text"], input[type="password"] {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid var(--rosa)
}

input[type="submit"] {
  width: 40%;
  margin-left: 30%;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  animation-delay: var(--amarillo);
}

#mensajeRegistro{
  margin-left: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
  text-align: center;
  color: var(--rojo);
  font-size: 90px;
  margin-left: 30%;
  font-family: fantasy;
}

.imge{
  text-align: center;
  font-size: 30px;
}

.cuadrado {
  width: 150px;          
  height: 150px;          
  background: var(--verde);        
  border: 1px solid #000; 
}

#enlace {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 35%;
  top: 20%;
}

#enlace2 {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 25%;
  top: 20%;
}


#fig {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 37%;
  top: 15%;
}

#ang {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 40%;
  top: 30%;
}

#sim {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 43%;
  top: 15%;
}

