:root{
  --amarillo: #F0E129;
  --cafe: #AA8976;
  --beige: #F0E2D0;
  --verde: #70AF85;
  --verdeazulado: #C6EBC9;
  --fsizeContenido: 22px;
  --fsizesubtitulos:26px;
  
}

body{
  margin:0;
  padding:0;
  background-color: var(--beige);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 400px;
  margin: 8.5% 35%;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
 
}

.title{
  text-align: center;
  color: red;
  font-size: 80px;
  margin-left: 28%;
  margin-top: 4%;
  font-family: Arial, Helvetica, sans-serif;
}

.titlep{
  text-align: center;
  color: var(--verde);
  font-size: 80px;
  margin-left: 0%;
  font-family: fantasy;
}

.cuadrado {
  width: 150px;          
  height: 150px;          
  background: var(--verde);        
  border: 1px solid #000; 
}

#enlace {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 35%;
  top: 20%;
}

#enlace2 {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 25%;
  top: 20%;
}


#fig {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 30%;
  top: 15%;
}

#ang {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 35%;
  top: 30%;
}

#sim {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: black; /* Cambia el color del texto del enlace */
  display: inline-block; /* Permite que el enlace ocupe solo el espacio necesario */
  position: relative;
  left: 40%;
  top: 15%;
}

